button > a {
	text-decoration: none;
}

.grid-example-element {
	background-color: var(--background-color-softer);
	margin-top: 10px;
	margin-bottom: 10px;
}

.grid-example-container > .grid-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.toc {
	border-radius: 3px;
}

.toc a {
	text-decoration: none;
}

.toc-title {
	text-align: center;
	border-bottom: 1px solid var(--border-color);
}